<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
	<script src="https://kit.fontawesome.com/c502137733.js"></script>
    <title>Yelp Camp</title>
</head>

<body class='bg'>

	{{{ body }}}

	<script src="/assets/js/client.js"></script>
</body>
</html>


{{!-- <div class="container-fluid">
	<div class="row">
		<div class="col-12 jumbotron mb-3 team-heading" style="background-color: rgba(0, 0, 0, 0);">
			<h1 class="text-center h1 glow"><img src='/assets/css/images/neon3.png' style="width: 150px; height: 150px; margin-right: 20px;">EAT DA BURGER</h1>
		</div>
	</div>
</div> --}}