<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
    
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
    <title>Revisa</title>
</head>

<body class='bg'>

          <nav class=" uk-navbar-transparent .uk-dark uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left"><div>
            <ul class="uk-navbar-nav">  
                <li>
                    <a>Menu</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                               <li><a href="/restaurants/new">Add Restaurant</a></li>
                                    <li><a href="/restaurants">Restuarants</a></li>
                                    <li><a href="/dashboard">Dashboard</a>
                                    <li><a href="/signup">Sign Up</a></li>
                                    <li><a href="/index">About</a></li>
                                </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div></div>
        <a class="uk-navbar-item uk-logo" href="/dashboard"><img
                    src="https://cdn.shopify.com/s/files/1/1901/4421/files/logo_transparent.png?v=1590629007" alt="logo"
                    width="200" height="200" class="uk-margin-small-right"></a>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
                <li><a href="/signin">Sign In</a></li>
            </ul>
        </div></div>

    </div>
</nav>

    <main class="uk-container ">

        {{{ body }}}

    </main>

    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
</body>
<!-- UIkit JS -->

</html>