<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="https://cdn.shopify.com/s/files/1/1901/4421/files/logo.png?v=1590633565" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Welcome To Revisa!</h3>
            <p>Revisa is an app that is used to rate resturants in your area! Rate your experience for everyone to see, to help promote good buisness, food, service, and experience!</p>
			<p>Dont be Shy! Share your experiences with the world, we are small team out of Ottawa, and are constantly growing our site, and value you're feedback!</p>
			<p>Remember - Eat, Rate, and Appreciate!</p>
        </div>
    </div>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="https://cdn.shopify.com/s/files/1/1901/4421/files/thai-food-takeout.jpg?v=1590633718" alt="food" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Let's Get Started</h3>
            <h4>How To Rate</h4>
			<p> General Rating - Food  atmosphere, service </p>
			<p>  Affordability - Great Value over priced? Let us know!</p>
			<p>  Speed of Service - Fast service, slow, average </p>
			<p> Cleanliness - Were you razzeled and dazzelled or grossed out and ran out</p>
			<a class="uk-button uk-button-text uk-text-bold" href="/restaurants">See our restaurants! <span uk-icon="sign-in"></span></a>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<p>Made by K.D.K. with <span uk-icon="icon: heart"></span> and affeine. Licensed under Standard Publishing License.</p>
