
    <div class="uk-light uk-grid uk-width-3-4@l" uk-grid>
        <h1 class="uk-heading-large">Get ready to eat.</h1>
        <h2 class="uk-article-title">Who we are</h2>
        <p>We are Kacey, Diego, and Kephane: A group of web-designers who enjoy providing useful services through code.</p>
        <div class="uk-grid-divider uk-child-width-expand uk-child-width-2-5@m">
          <div>
            <h2 class="uk-article-title">What we do</h2>
            <p>For ordinary bystandards looking for a place to feast, we provide an application that can show you recent reviews of public restaurants so that you can make a smart decision about which business most optimal for your needs.</p>
          </div>
          <div>
            <h2 class="uk-article-title">Why we do it</h2>
            <p>Especially during a post-pandemic time like today, Fear has taken the masses by storm. Uncertainty is rampant. So, to reassure the public and to give them more information, we are building a review app that contains recent relevant information and reviews on a restaurant's general quality, affordability, atmosphere/busyness, and if it is clean (COVID-19 PRECAUTION FRIENDLY), and also, if the food is succulent.</p>
          </div>
        </div>

        <a href="/dashboard" class="uk-button uk-button-text uk-light uk-text-bold">Get started <span uk-icon="icon: check; ratio: 2"></span></a>
    </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>

<p>Made by K.D.K. with <span uk-icon="icon: heart"></span> and caffeine. Licensed under Standard Publishing License.</p>




