<div class="uk-light uk-grid uk-width-3-4@l" uk-grid>
    <h1 class="uk-heading-large uk-width-1-1">Get ready <span class="uk-text-nowrap">to eat.</span></h1>
    <h2 class="uk-article-title">Who we are</h2>
    <p class="uk-width-1-1">We are Kacey, Diego, and Kephane: A group of web-designers who enjoy providing useful services through code.</p>
    <section class="uk-grid">
      <div class="uk-width-1-1 uk-width-expand@s">
        <h2 class="uk-article-title">What we do</h2>
        <p class="uk-text-justify">For ordinary bystandards looking for a place to feast, we provide an application that can show you recent reviews of public restaurants so that you can make a smart decision about which business is most optimal for your needs.</p>
      </div>
      <div class="uk-width-expand">
        <h2 class="uk-article-title">Why we do it</h2>
        <p class="uk-text-justify">Especially during a post-pandemic time like today, Fear has taken the masses by storm. Uncertainty is rampant. So, to reassure the public and to give them more information, we are building a review app that contains recent relevant information and reviews on a restaurant's general quality, affordability, atmosphere/busyness, and if it is clean (COVID-19 PRECAUTION FRIENDLY), and also, if the food is succulent.</p>
      </div>
    </section>
    <a href="/dashboard" class="uk-button uk-button-text uk-light uk-text-bold">Get started <span uk-icon="icon: check; ratio: 2"></span></a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<p>Made by K.D.K. with <span uk-icon="icon: heart"></span> and Caffeine. Licensed under Standard MIT Publishing License.</p>




