 <!-- change to handle bars  -->

<%- include("partials/header") %>

<h1>landing page!</h1>

<p>welcome to yelp </p>

<a href="/resturants"> View all Resturants</a>

<!-- change to handle bars  -->

<%- include("partials/footer") %>