<div class="container">
  <div class="row">
    <div class="col-12">

      <h1> Create a new restaurant</h1>

      
      <form id="create-form1">

        <div class="form-group">
          <label for="restaurantName">Restaurant Name:</label>
          <input type="text" id="restaurantName" name="name" placeholder="Restaurant name">
          <label for="restaurantImg">Restaurant Logo:</label>
          <input type="text" id="restaurantImg" name="image" placeholder="Image url">
        </div>

        <button type="submit">Add Restaurant</button>
      </form>



      {{!-- <form action="/restaurants" method="POST">
        <input type="text" name="name" />
        <input type="text" name="image" placeholder="image url">
        <button type="submit">Submit</button>
      </form> --}}

      <a href="/restaurants">Back to restaurants</a>

    </div>
  </div>
</div>

<script src="/assets/js/client.js"></script>



