<div>
        <h1 class="uk-heading-divider" style="color: antiquewhite;">Add a new restaurant</h1>
        <form class="uk-form-stacked uk-card uk-card-body uk-card-secondary" id="create-form1">
            <fieldset class="uk-fieldset">
                
                <label class="uk-form-label uk-text-bold" for="form-stacked-text">Restaurant name</label>
                <div class="uk-margin-bottom">
                    <input class="uk-input" type="text" placeholder="ex: Joe's Kitchen" name="name" id="restaurantName">
                </div>

                <label class="uk-form-label" for="restaurantLocation">Adress</label>
                <div class="uk-margin-bottom">
                    <input class="uk-input" type="text" placeholder="ex: 123 Main Rd." name="location" id="restaurantLocation">
                </div>

                <label class="uk-form-label" for="restaurantImg">Image URL</label>          
                <div class="uk-margin-bottom">
                    <input class="uk-input" type="text" name="image" id="restaurantImg" placeholder="ex: https://www.mcdonalds.com/content/dam/ca/nfl/web/logo/McD-squareLogo.png">
                </div>
                
                <div class="uk-margin-bottom">
                    <label class="uk-form-label" for="language">Languages</label>
                    <input class="uk-input" type="text" id="language" name="language" placeholder="Language">
                    
                </div>

                <label class="uk-form-label" for="email">Email</label>
                <div class="uk-margin-bottom">
                    <input class="uk-input" type="text" placeholder="ex: example@gmail.ca" id="email" name="email">
                </div>

                <label class="uk-form-label" for="website">Website</label>
                <div class="uk-margin-bottom">
                    <input class="uk-input" type="text" placeholder="ex: www.RobertsPupil.net" id="website" name="website">
                </div>

                <label class="uk-form-label" for="form-stacked-text">Phone Number</label>
                <div class="uk-margin-bottom">
                    <input class="uk-input" type="text" placeholder="ex: 6131234567" name="phone" id="phone">
                </div>

                
                {{!-- <div class="uk-margin-bottom">
                    <label class="uk-form-label" for="form-stacked-text">Restaurant Description</label>
                    <textarea class="uk-textarea" rows="5" name="description" id="description" placeholder="ex: Fast-Food diner, good for families, groups, birthday parties. Also does catering services."></textarea>
                </div> --}}
                <button class="uk-button uk-button-primary uk-align-center" type="submit">Submit</button>  
            </fieldset>
        </form>
</div>


<script src="/assets/js/client.js"></script>



