<div class="container">
  <div class="row">
    <div class="col-12">

      <h1> Create a new restaurant</h1>



      <form action="/restaurants" method="POST">
        <input type="text" name="name" />
        <input type="text" name="image" placeholder="image url">
        <button type="submit">Submit</button>
      </form>

      <a href="/restaurants">Back to restaurants</a>

    </div>
  </div>
</div>




{{!--       <form id="create-form">

        <div class="form-group">
          <label for="restaurantName">Restaurant Name:</label>
          <input type="text" id="restaurantName" name="name">
        </div>

        <button type="submit">Add Restaurant</button>
      </form> --}}