<header class="jumbotron" style="background-color: rgba(0, 0, 0, 0.459);">
    <div class="container">
      <h1>Welcome to Revisa</h1>
      <p>View our Resturants</p>

      <p>
        <a class="btn btn-primary btn-lg" href="/restaurants/new">Add New Resturants</a>
      </p>
    </div>
</header>

<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3> Popular resturants</h3>
      </div>
    </div>

    <div class="row">
        {{#each restaurants}}
        <div class=" col-sm-12">            
          <div class="img-thumbnail rounded float-left">
            <img src={{ image }}>
            <div class="caption">
              <h4  style="color: black;"> {{ name }} </h4>
            </div>
            <p>
              <a class="btn btn-primary btn-lg" href="/reviews">Add your review</a>
            </p>
          </div>    
        </div>
        {{/each}}
    </div>
</div>









